<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Наши услуги</h2>
                <hr class="light">
                <h4 class="text-left">
                  <dl class="dl-horizontal">
                    <dt>Косметологические:</dt>
                    <dd>уход за лицом, наращивание ресниц, окрашивание бровей/ресниц, уход за телом, коррекция бровей, очищение кожи, рестилайн/перлайн, коррекция фигуры</dd>
                  </dl>
                  Наш салон предоставляет услуги высочайшего качества
                  <br><b>Косметологические:</b> уход за лицом, наращивание ресниц, окрашивание бровей/ресниц, уход за телом, коррекция бровей, очищение кожи, рестилайн/перлайн, коррекция фигуры
                  <br><b>Парикмахерские:</b> стрижка горячими ножницами, био-выпрямление волос, окрашивание, тонирование, выпрямление волос, колорирование, вечерняя/свадебная укладка, лечение волос, мелирование, укладка, био-завивка волос
                  <br><b>Для фигуры:</b> пилинг, обёртывание
                  <br><b>Для ногтей:</b> женский педикюр, женский маникюр, мужской маникюр, мужской педикюр, дизайн ногтей, парафинотерапия
                  <br>
                  <br><b>Цена женской стрижки:</b> 700–1700 руб
                  <br><b>Цена мужской стрижки:</b> 500–700 руб
                  <br><b>Маникюр:</b> 500–950 руб
                  <br><b>Услуги салона:</b> макияж, мужские стрижки, массаж, косметология, женские стрижки, маникюр, пилинг, уход за телом, эпиляция, уход за лицом, наращивание ресниц, наращивание ногтей, педикюр
                </h4>

                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
