<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Наши услуги</h2>
                <hr class="light">
                <p class="text-faded text-left">
                  Косметологические услуги: уход за лицом, наращивание ресниц, окрашивание бровей/ресниц, уход за телом, коррекция бровей, очищение кожи, рестилайн/перлайн, коррекция фигуры
                  <br>Парикмахерские услуги: стрижка горячими ножницами, био-выпрямление волос, окрашивание, тонирование, выпрямление волос, колорирование, вечерняя/свадебная укладка, лечение волос, мелирование, укладка, био-завивка волос
                  <br>Для фигуры: пилинг, обёртывание
                  <br>Для ногтей: женский педикюр, женский маникюр, мужской маникюр, мужской педикюр, дизайн ногтей, парафинотерапия
                  <br>Цена женской стрижки: 700–1700 руб
                  <br>Цена мужской стрижки: 500–700 руб
                  <br>Маникюр: 500–950 руб
                  <br>Услуги салона: макияж, мужские стрижки, массаж, косметология, женские стрижки, маникюр, пилинг, уход за телом, эпиляция, уход за лицом, наращивание ресниц, наращивание ногтей, педикюр
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
