<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>НИКАС</h1>
            <h1>+7 (499) 755-50-52</h1>
            <h1>ПН-ВС 10:00-21:00</h1>
            <h1>Москва, Новокуркинское ш., 45, стр. 1</h1>
            <hr>
            <p>Салон красоты в Куркино</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Услуги</a>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Как нас найти</a>
        </div>
    </div>
</header>
