<header>
    <div class="header-content">
        <div class="header-content-inner">
                <br>
                <h1>НИКАС</h1>
                <p>Салон красоты в Куркино</p>

            <hr>


                <div class="row">
                    <div class="col-lg-1 col-md-1">
                        <i class="fa fa-4x fa-phone wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    </div>
                    <div class="col-lg-11 col-md-11">
                        <h1 class="text-left">+7 (499) 755-50-52</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-12">
                        <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                    <div class="col-lg-11 col-md-12">
                        <h1 class="text-left">ПН-ВС 10:00-21:00</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-12">
                        <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    </div>
                    <div class="col-lg-11 col-md-12">
                        <h1 class="text-left">Москва, Новокуркинское ш., 45, стр. 1</h1>
                    </div>
                </div>


            <!--
            <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
            <h1>ПН-ВС 10:00-21:00</h1>
            <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".3s"></i>
            <h1>Москва, Новокуркинское ш., 45, стр. 1</h1>
            -->


              <div class="row">
                <div class="col-lg-6 col-md-12 text-right" >
                  <a href="#about" class="btn btn-primary btn-xl page-scroll">Услуги</a>
                </div>
                <div class="col-lg-6 col-md-12 text-left">
                  <a href="#services" class="btn btn-primary btn-xl page-scroll">Как нас найти</a>
                </div>
              </div>



        </div>
    </div>
</header>
